tmp
.mypy_cache
pabot_results
.pabotsuitenames
build
dist
.DS_Store
.vscode
*.egg-info
*.pyc
.idea
*.html
*.xml
.venv
.tox
.coverage
.coverage.*
atest/.concurrent_tracker.json
atest/_exec_log.txt
uv.lock
pabot_manager.log
